@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap');

::selection { background-color: rgba(0, 173, 92, 0.349); }

* {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    letter-spacing: -1px;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
}

.contents-container {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.row {
    width: 1280px;
    height: 100%;
    background-color: black;
    margin: 0 auto;
}


#header {
    width: 100vw;
    height: 100vh;
}

/* 네비게이션바 NavBar */
.navBar {
    width: 585px;
    height: 125px;
    /* background-color: black; */
    background-image: url("../images/navBarBG.png");
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
}

#hambugerMenu {
    width: 34px;
    height: 30px;
    background-image: url("../images/hambugerMenu.png");
    margin-top: 30px;
    margin-left: 30px;
}

/* 타이틀씬 */
.title {
    font-weight: 600;
    margin-top: 250px;
    margin-left: 320px;
    width: 1000px;
    float: left;
}

.title .titleText {
    font-size: 55px;
    line-height: 75px;
}

.arrow {
    margin-top: 200px;
    width: 87px;
    height: 86px;
    background-image: url("../images/arrow.png");
    display: inline-block;
}


.title #titleYellow {
    color : #FFC854;
}

.title #product,
.title #price,
.title #bowl {
    outline: none;
    border: none;
    font-size: 55px;
    font-weight: 600;
    color : #FFC854;
    /* border-bottom: 4px solid #FFC854; */
    transition: color ease-in-out .5s;
}

.title #product {
    width: 250px;
}

.title #price {
    text-align: right;
    width: 210px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

#product:hover,
#price:hover {
    color: #00AD5D;
}

#gukbap {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/titleGukbap.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    /* animation: introGukbap 2s; */
    transition: all ease-in-out 2s;
    right: -65%;
    overflow-x: hidden;
}

@keyframes introGukbap {
    from {right : -100%;}
    to {right : -50%;}
}

/* 국밥선택 */
.gukbap-select {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#gukbapBar {
    width: 20rem;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gukbapBar ul {
    display: inline-block;;
}

#gukbapBar ul li {
    font-size: 16px;    
    color: #747474;
    font-weight: 500;
    margin-top: 30px;
}

#gukbapBar #navHEAD,
#gukbapBar #navSEED {
    width: 110px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,.15);
    padding-top: 10px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
    cursor: pointer;
}

#gukbapBar #navSDK {
    margin-top: 0px;
    /* margin-top: 540px; */
}

#gukbapBar #navSDK,
#gukbapBar #navPIG {
    width: 95px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,.15);
    position: relative;
    left: 7px;
    padding-top: 10px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
    cursor: pointer;
}

#gukbapBar #navSDK:hover,
#gukbapBar #navPIG:hover,
#gukbapBar #navHEAD:hover,
#gukbapBar #navSEED:hover {
    background-color: #FFC854;
    color: white;
}

.verticalLine {
    border: 1px solid #D4D4D4;
    height: 250px;
    position: absolute;
    z-index: -1;
}

/* 국밥 타이틀 */

#gukbapTitle {
    padding-top: 140px;
    width: 40rem;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

#gukbapTitle h1 {
    color: #00AD5D;
    font-size: 50px;
    font-weight: 600;
}

#gukbapImg {
    width: 50vw;
    height: 100%;
    position: absolute;
    right: 0;
    /* background-image: url("../images/SDK.png"); */
    background-color: #747474;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width ease-in-out .5s;
    cursor: pointer;
}

#gukbapImg:hover {
    width: 85vw;
}

#gukbapImg .gukbapTipText {
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 25px;;
    width: 250px;
}

#gukbapImg #border-left {
    margin-top: 7px;
    height: 90px;
    float: left;
    border-left: 6px solid white;
    padding-right: 10px;
}

#gukbapImg .gukbapTipText h1 {
    font-size: 50px;
}

#gukbapImg .gukbapTipText h3 {
    margin-bottom: -12px;
    padding-top: 5px;
    font-weight: 400;
    font-size: 24px;
}

/* 국밥 소개 */
.gukbap-introduce {
    width: 100%;
    height: 100vh;
    position: relative;
}

.sdk-title {
    padding-top: 8rem;
    width: 600px;
}

.introduce-title {
    color: #FFC854;
    font-size: 3rem;
    line-height: 60px;
}

.para {
    width: 600px;
    word-break: keep-all;
    font-size: 18px;
}

.para:nth-of-type(2){
    margin-top: 15px;
}

.bar {
    width: 100px;
    border: 1px solid #747474;
    opacity: 0.2;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

#sdk-greenGround {
    width: 100%;
    height: 185px;
    background-image: url("../images/sdk_introduce_4.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 1s;
    background-size: cover;
}

#sdk-yellowGround {
    width: 100%;
    height: 185px;
    background-image: url("../images/sdk_introduce_5.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all ease-in-out 1s;
    background-size: cover;
}

#sdk-horse1 {
    width: 265px;
    height: 300px;
    position: absolute;
    background-image: url("../images/sdk_introduce_0.png");
    background-repeat: no-repeat;
    right: 30%;
    bottom: 80px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    transition: all ease-in-out 1s;
}

#sdk-horse2 {
    width: 468px;
    height: 407px;
    position: absolute;
    background-image: url("../images/sdk_introduce_1.png");
    background-repeat: no-repeat;
    right: 75px;
    bottom: 80px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    transition: all ease-in-out 1s;
}

#sdk-house {
    width: 349px;
    height: 209px;
    position: absolute;
    background-image: url("../images/sdk_introduce_2.png");
    background-repeat: no-repeat;
    left: 400px;
    bottom: 140px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    transition: all ease-in-out 1s;
}

/* 돼지국밥 */
.pig-titleBox {
    float: right;
    display: inline-block;
    margin-top: 300px;
}

#pig-title {
    color: white;
}

#pig-para {
    color: white;
}

#pig-bar {
    border: 1px solid white;
}

#pig-introduce {
    background-color: #00AD5D;
}

#pig-bottom {
    width: 100%;
    height: 188px;
    background-image: url("../images/pig_introduce_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 소머리 국밥 */
.head-titleBox {
    text-align: center;
    padding-top: 100px;
}

#head-para {
    display: inline-block;
}


/* 콩나물 국밥 */
.seed-titleBox {
    padding-top: 100px;
}

#seed-title {
    color: #00AD5D;
}

#seed-bottom {
    width: 100%;
    height: 188px;
    background-image: url("../images/seed_introduce_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}





/* 국밥만들기 */

.gukbap-make {
    width: 100%;
    height: 100vh;
    position: relative;
}

#sagol {
    background-color: #FFC854;
    padding-bottom: -100px;
}

#sagol {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.5;
    line-height: 60px;
}

.gukbap-make-ground {
    width: 100%;
    height: 274px;
    background-image: url("../images/gukbap-make_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom: 0;
}

/* 국밥은 어쩌다 가성비 음식 */
.why-titleBox {
    text-align: center;
    padding-top: 100px;
}

#why-para {
    display: inline-block;
}

#why-title {
    color: #00AD5D;
}

/* 재료 페럴렉스 */
#material {

}

/* 국밥에 뚝배기를 사용하는 이유 */

.plate-titleBox {
    text-align: center;
    background-color: black;
}

#plate-para {
    display: inline-block;
    color: white;
}

#plate-title {
    color: white;
}

.green {
    color: #00AD5D;
}

.yellow {
    color: #FFC854;
}

/* 기호에 맞도록 양념을 추가해주세요! */

.seasoning-titleBox {
    font-size: 2rem;
    text-align: center;
}

.seasoning-titleBox ul {
    text-align: center;
    position: relative;
    margin-top: 15px;
}

.seasoning-titleBox ul li {
    display: inline-block;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 24px;
    padding: 6px 0 10px 0px;
    text-align: center;
    color: #747474;
    width: 110px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    margin-right: 22px;
    transition: background-color ease-in-out .5s, color ease-in-out .2s;
    cursor: pointer;
}

.seasoning-titleBox ul li:hover {
    background-color: #FFC854;
    color: white;
}

/* 대령이요! */
.complete-titleBox {
    color: white;
    float: left;
    margin-top: 300px;
    z-index: 1;
}

.complete-titleBox h1 {
    font-size: 3rem;
    line-height: 70px;
}

.complete-titleBox #gukbapName {
    background-color: #00AD5D;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#complete {
    background-color: #FFC854;
}

#gukbapScore {
    margin-top: 20px;
    width: 620px;
}

.completeGroundTop {
    background-image: url("../images/gukbap-complete_0.png");
    width: 100%;
    height: 249px;
    position: absolute;
    top: -100px;
    left: 0;
}

.completeGroundBottom {
    background-image: url("../images/gukbap-complete_1.png");
    width: 100%;
    height: 249px;
    position: absolute;
    bottom: -100px;
    left: 0;
}

/* ending 국밥 하나만 기억해주세요 */
.ending-titleBox {
    padding-top: 300px;
}

.ending-titleBox h1 {
    color: #FFC854;
    font-size: 3rem;
    line-height: 60px;
}


/* footer */

footer {
    width: 100%;
    height: 400px;
    background-image: url("../images/footerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

footer .name {
    display: inline-block;
}

footer .footerName {
    display: inline-block;
    padding-top: 220px;
}

footer .icon {
    width: 91px;
    height: 78px;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

footer .footerName .Kr {
    color: white;
    font-size: 3rem;
    line-height: 40px;
}

footer .footerName .Eng {
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
}

footer .copyright {
    display: inline-block;
    color: white;
    text-align: right;
    float: right;
    padding-top: 220px;
}
