@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap');

::selection { background-color: rgba(0, 173, 92, 0.349); }

* {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    letter-spacing: -1px;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
}

.contents-container {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.row {
    width: 1280px;
    height: 100%;
    background-color: black;
    margin: 0 auto;
}


#header {
    width: 100vw;
    height: 100vh;
}

/* 네비게이션바 NavBar */
.navBar {
    width: 585px;
    height: 125px;
    /* background-color: black; */
    background-image: url("../images/navBarBG.png");
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
}

#hambugerMenu {
    width: 34px;
    height: 30px;
    background-image: url("../images/hambugerMenu.png");
    margin-top: 30px;
    margin-left: 30px;
}

/* 타이틀씬 */
.title {
    font-weight: 600;
    margin-top: 250px;
    margin-left: 320px;
    width: 1000px;
    float: left;
}

.title .titleText {
    font-size: 55px;
    line-height: 75px;
}

.arrow {
    margin-top: 200px;
    width: 87px;
    height: 86px;
    background-image: url("../images/arrow.png");
    display: inline-block;
    transition: background-image ease-in-out .5s, transform ease-in-out .5s;
}

.arrow:hover {
    background-image: url("../images/arrow_hover.png");
    transform: rotate(360deg);
}


.title #titleYellow {
    color : #FFC854;
}

.title #product,
.title #price,
.title #bowl {
    outline: none;
    border: none;
    font-size: 55px;
    font-weight: 600;
    color : #FFC854;
    border-bottom: 4px solid #FFC854;
    transition: color ease-in-out .5s;
}

.title #priceWon {
    outline: none;
    border: none;
    font-size: 55px;
    font-weight: 600;
    color : #FFC854;
    border-bottom: 4px solid #FFC854;
    transition: color ease-in-out .5s;
}

.title #product {
    width: 250px;
}

.title #price {
    text-align: right;
    width: 210px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
#product:hover {
    color: #00AD5D;
}

#price:hover + #priceWon,
#price:hover {
    color: #00AD5D;
}

/*
#gukbap {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/titleGukbap.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: introGukbap 2s;
    transition: all ease-in-out 2s;
    right: -65%;
    transform: rotateZ(30deg);
    overflow-x: hidden;
}
*/

#titleGukbapImg {
    position: absolute;
    right: -20%;
    height: 100vh;
    transition: all ease-in-out 2s;
    animation: introGukbap 2s;
    transform: rotateZ(-120deg);
}

@keyframes introGukbap {
    from {
        right : -60%;
        transform: rotateZ(0);
    }
    to {
        right : -20%;
        transform: rotateZ(-120deg);
    }
}

/* 국밥선택 */
.gukbap-select {
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;
}

.gukbapBar {
    width: 20rem;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    /* overflow-x: hidden; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    
    transition: opacity ease-in-out .5s;
    /* float: left;
    box-sizing: border-box;
    
    display: flex;
    
     */
}

.gukbapBar ul {
    display: inline-block;;
}

.gukbapBar ul li {
    font-size: 16px;    
    color: #747474;
    font-weight: 500;
    margin-top: 30px;
}

#gukbapBar #navHEAD,
#gukbapBar #navSEED {
    width: 110px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,.15);
    padding-top: 10px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
    cursor: pointer;
}

#gukbapBar #navSDK {
    margin-top: 0px;
    /* margin-top: 540px; */
}

#gukbapBar #navSDK,
#gukbapBar #navPIG {
    width: 95px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,.15);
    position: relative;
    left: 7px;
    padding-top: 10px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
    cursor: pointer;
}

#gukbapBar #navSDK:hover,
#gukbapBar #navPIG:hover,
#gukbapBar #navHEAD:hover,
#gukbapBar #navSEED:hover {
    background-color: #FFC854;
    color: white;
}

.verticalLine {
    margin-left: 10rem;
    border: 1px solid #D4D4D4;
    height: 250px;
    position: absolute;
    z-index: -1;
}

/* 국밥 타이틀 */

#gukbapTitle {
    padding-top: 140px;
    width: 40rem;
    height: 100%;
    float: left;
    box-sizing: border-box;
    margin-left: 20rem;
}

#gukbapTitle h1 {
    color: #00AD5D;
    font-size: 50px;
    font-weight: 600;
}

.gukbapImg {
    width: 50vw;
    height: 100%;
    position: absolute;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: ease-in-out 1s;
    clip-path: url(#wave);
    cursor: pointer;
    z-index: 10;
}

.imgHoverBG {
    width: 50vw;
    height: 100%;
    right: 0;
    background-color: #FFC854;
    position: absolute;
    transition: all ease-in-out 1.3s;
    clip-path: url(#wave);
    opacity: 0;
    z-index: 9;
    
}

/* 순대국밥 */

#sdkImg {
    
    /* transition: all ease-in-out 2s; */
    background:url("../images/SDK.png");
    transition: ease-in-out 1.5s;
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sdkImg:hover {
    clip-path: url(#wave);
    background:linear-gradient(0deg,rgba(255,200,84,0.3),rgba(255,200,84,0.3)),url("../images/SDK.png");
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url("../images/SDK.png"); */
}

#sdkImg:hover > #gukbapTipText {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

#sdkImg:hover > #gukbapTipText > #border-left{
    opacity: 0;
}

.gukbapImg:hover + #sdkImgHover {
    clip-path: url(#wave);
    width: 86vw;
    opacity: 1;
}

/* 돼지국밥 */


#pigImg {
    background: url("../images/PIG.png");
    transition: ease-in-out 1.5s;
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

#pigImg:hover {
    clip-path: url(#wave);
    background:linear-gradient(0deg,rgba(255,200,84,0.3),rgba(255,200,84,0.3)),url("../images/PIG.png");
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url("../images/SDK.png"); */
}

#pigImg:hover > #gukbapTipTextPig {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

#pigImg:hover > #gukbapTipTextPig > #border-left{
    opacity: 0;
}

.gukbapImg:hover + #pigImgHover {
    clip-path: url(#wave);
    width: 86vw;
    opacity: 1;
}

/* 소머리 국밥 */

#headImg {
    background: url("../images/HEAD.png");
    transition: ease-in-out 1.5s;
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

#headImg:hover {
    clip-path: url(#wave);
    background:linear-gradient(0deg,rgba(255,200,84,0.3),rgba(255,200,84,0.3)),url("../images/HEAD.png");
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url("../images/SDK.png"); */
}

#headImg:hover > #gukbapTipTextHead {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

#headImg:hover > #gukbapTipTextHead > #border-left{
    opacity: 0;
}

.gukbapImg:hover + #headImgHover {
    clip-path: url(#wave);
    width: 86vw;
    opacity: 1;
}

/* 콩나물국밥 */

#seedImg {
    background: url("../images/SEED.png");
    transition: ease-in-out 1.5s;
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

#seedImg:hover {
    clip-path: url(#wave);
    background:linear-gradient(0deg,rgba(255,200,84,0.3),rgba(255,200,84,0.3)),url("../images/SEED.png");
    background-size: cover;
    right: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url("../images/SDK.png"); */
}

#seedImg:hover > #gukbapTipTextSeed {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

#seedImg:hover > #gukbapTipTextSeed > #border-left{
    opacity: 0;
}

.gukbapImg:hover + #seedImgHover {
    clip-path: url(#wave);
    width: 86vw;
    opacity: 1;
}



.gukbapImg:hover {
    width: 85vw;
    
}

.gukbapImg .gukbapTipText {
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 100px;;
    width: 250px;
}

.gukbapImg #border-left {
    margin-top: 7px;
    height: 90px;
    float: left;
    border-left: 6px solid white;
    padding-right: 10px;
}

.gukbapImg .gukbapTipText h1 {
    font-size: 50px;
}

.gukbapImg .gukbapTipText h3 {
    margin-bottom: -12px;
    padding-top: 5px;
    font-weight: 400;
    font-size: 24px;
    margin-right: 20px;
}

/* 국밥 소개 */
#introduce {
    
}

.gukbap-introduce {
    width: 100%;
    height: 100vh;
    position: relative;

}

.sdk-title {
    padding-top: 8rem;
    width: 600px;
}

.introduce-title {
    color: #FFC854;
    font-size: 3rem;
    line-height: 60px;
}

.para {
    width: 600px;
    word-break: keep-all;
    font-size: 18px;
}

.para:nth-of-type(2){
    margin-top: 15px;
}

.bar {
    width: 100px;
    border: 1px solid #747474;
    opacity: 0.2;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

#sdk-greenGround {
    width: 100%;
    height: 185px;
    background-image: url("../images/sdk_introduce_4.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    /* transition: all ease-in-out 1s; */
    background-size: cover;
}

#sdk-yellowGround {
    width: 100%;
    height: 185px;
    background-image: url("../images/sdk_introduce_5.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: -2;
    /* transition: all ease-in-out 1s; */
    background-size: cover;
}

#sdk-horse1 {
    width: 265px;
    height: 300px;
    position: absolute;
    background-image: url("../images/sdk_introduce_0.png");
    background-repeat: no-repeat;
    right: 30%;
    bottom: 0px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    /* transition: all ease-in-out 1s; */
}

#sdk-horse2 {
    width: 468px;
    height: 407px;
    position: absolute;
    background-image: url("../images/sdk_introduce_1.png");
    background-repeat: no-repeat;
    right: -300px;
    bottom: 40px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    /* transition: all ease-in-out 1s; */
}

#sdk-introduce {
    
}

#sdk-house {
    width: 349px;
    height: 209px;
    position: absolute;
    background-image: url("../images/sdk_introduce_2.png");
    background-repeat: no-repeat;
    left: 400px;
    bottom: 140px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    /* transition: all ease-in-out 1s; */
}

#sdk-sky {
    position: absolute;
    top: 0;
    left : 0;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    width: 100%;
    height: 100%;
}

#sdk-sky #moon {
    z-index: -1;
    float: right;
    margin-right: 80px;
}

#sdk-sky #star1 {
    z-index: -1;
    float: right;
    margin-top: -50px;
    margin-right: 80px;
}

#sdk-sky #star2 {
    z-index: -1;
    float: right;
    margin-top: -50px;
    margin-right: 80px;
}

#sdk-sky #star3 {
    z-index: -1;
    float: right;
    margin-top: -50px;
    margin-right: 120px;
}

#sdk-sky #star4 {
    z-index: -1;
    margin-top: -50px;
    float: right;
    margin-right: 80px;
}

#sdk-sky #star5 {
    z-index: -1;
    margin-top: -200px;
    float: left;
    margin-left: 80px;
}

#sdk-sky #star6 {
    position: absolute;
    left: -200px;
    bottom: -150px;
    width: 600px;
    z-index: 10;
    
}

/* 돼지국밥 */
.pig-titleBox {
    float: right;
    display: inline-block;
    margin-top: 250px;
}

#pig-title {
    color: white;
}

#pig-para {
    color: white;
}

#pig-bar {
    border: 1px solid white;
}

#pig-introduce {
    background-color: #00AD5D;
}

#pig-bottom {
    width: 100%;
    height: 188px;
    background-image: url("../images/pig_introduce_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

#pig-map {
    position: absolute;
    z-index: 10;
    width: 100%;
    /* height: 800px; */
    /* background-size: contain; */
    /* background-image: url("../images/pig_introduce_1_before.png"); */
    background-repeat: no-repeat;
    transition: all ease-in-out 2s;
}


#pig-map img:nth-child(1){
    position: absolute;
    height: 800px;
}

#pig-map img:nth-child(2){
    position: absolute;
    height: 800px;
}

#pig-map img:nth-child(3){
    position: absolute;
    height: 250px;
    margin-left: 170px;
    margin-top: -100px;
}

#pig-map img:nth-child(4){
    position: absolute;
    height: 250px;
    margin-left: 150px;
    margin-top: -100px;
}

/* 소머리 국밥 */
.head-titleBox {
    text-align: center;
    padding-top: 100px;
}

#head-para {
    display: inline-block;
}

#head-interaction {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    position: relative;
}

#head-interaction #head {
    transition: all ease-in-out 1s;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
}

#head-interaction #light1 {
    position: absolute;
    float: left;
    top: -450px;
    left: -480px;
    opacity: 0;
    transition: opacity ease-in-out .2s;
    /* transition-delay: 0.2s; */
}

#head-interaction #light2 {
    position: absolute;
    float: right;
    top: -450px;
    right: -500px;
    opacity: 0;
    transition: opacity ease-in-out .2s;
    /* transition-delay: 0.4s; */
}

#head-interaction #light3 {
    position: absolute;
    float: left;
    top: 300px;
    left: -480px;
    opacity: 0;
    transition: opacity ease-in-out .2s;
    /* transition-delay: 0.8s; */
}

#head-interaction #light4 {
    position: absolute;
    float: right;
    top: 300px;
    right: -460px;
    opacity: 0;
    transition: opacity ease-in-out .2s;
    /* transition-delay: 0.6s; */
}

#leftMoney {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: left;
    top: 0;
}

#leftMoney img{
    display: block;
    float: left;
}

#leftMoney img:nth-child(1) {
    margin-top: -300px;
    margin-left: 150px;
    opacity: 0.8;
}

#leftMoney img:nth-child(2) {
    margin-top: -180px;
    margin-left: -30px;
    opacity: 0.7;
}

#leftMoney img:nth-child(3) {
}

#leftMoney img:nth-child(4) {
    margin-top: 80px;
}

#leftMoney img:nth-child(5) {
    margin-top: 340px;
    margin-left: -400px;
}

#rightMoney {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    margin-top: -400px;
}

#rightMoney img {
    display: block;
    position: absolute;
    right: 0;
}

#rightMoney img:nth-child(1) {
    margin-top: -340px;
    opacity: 0.7;
}

#rightMoney img:nth-child(2) {
    margin-top: -120px;
    margin-right: -200px;
}

#rightMoney img:nth-child(3) {
    margin-right: 100px;
    margin-top: -140px;
    opacity: 0.9;
}

#rightMoney img:nth-child(4) {
    margin-top: 120px;
    margin-right: 170px;    
}

#rightMoney img:nth-child(5) {
    margin-top: 280px;
    margin-right: -50px;
}

#rightMoney img:nth-child(6) {
    margin-top: 300px;
    margin-right: -500px;
    opacity: 0.9;
}


/* 콩나물 국밥 */
.seed-titleBox {
    padding-top: 100px;
}

#seed-title {
    color: #00AD5D;
}

#seed-bottom {
    width: 100%;
    height: 188px;
    background-image: url("../images/seed_introduce_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -80px;
    left: 0;
}

#seed-bottomImg {
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    z-index: 99;
    position: absolute;
    right: 0;
    margin-right: 350px;
    bottom: -80px;
    transform: scale(0.5);
}





/* 국밥만들기 */

#gukbapMakeBar #nav1,
#gukbapMakeBar #nav2,
#gukbapMakeBar #nav3,
#gukbapMakeBar #nav4 {
    width: 110px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,.15);
    padding-top: 5px;
    padding-bottom: 5px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
    cursor: pointer;;
}

#gukbapMakeBar ul li {
    display: flex;   
    justify-content: center;
    align-items: center;
}

#gukbapMakeBar #nav1 {
    margin-top: 0px;
    /* margin-top: 540px; */
}

#gukbapMakeVerticalLine {
    border: 1px ;
    border-color: white;
    transition: 0.5s;
}


.gukbap-make {
    width: 100%;
    height: 100vh;
    position: relative;
}

#sagol {
    background-color: #FFC854;
    padding-bottom: -100px;
}

#sagol {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.5;
    line-height: 60px;
}

.gukbap-make-ground {
    width: 100%;
    height: 274px;
    background-image: url("../images/gukbap-make_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom: 0;
}


#gukbapMakePlate {
    height: 500px;
    width: 100%;
    margin-top: 300px;
    z-index: 2;
    position: relative;
    text-align: center;
}

#plate {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    z-index: 2;
}

#fire {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    z-index: 9;
    bottom: 120px;
}

#plateCover {
    position:absolute;
    left:50%;
    top: 28px;
    transform:translateX(-50%);
    z-index: 4;
}

#bone1 {
    position:absolute;
    left:30%;
    transform:rotate( -10deg );
    top: -300px;
    z-index: 3;
}

#bone2 {
    position:absolute;
    right:30%;
    top: -300px;
    transform:rotate( 20deg );
    z-index: 3;
}

/* 국밥은 어쩌다 가성비 음식 */
.why-titleBox {
    text-align: center;
    padding-top: 200px;
}

#why-para {
    display: inline-block;
}

#why-title {
    color: #00AD5D;
}

/* 재료 페럴렉스 */
#material {
    width: 600px;
    text-align: center;
    display: block;
    position: relative;
}

#materialPig1 {
    position: absolute;
    right: 0;
    top: -200px;
}

#materialPig2 {
    position: absolute;
    left: 0;
    top: 50px;
}

#materialPig3 {
    position: absolute;
    right: 0;
    top: 250px;
}

#materialPig4 {
    position: absolute;
    left: 0;
    top: 500px;
}

#makeResult {
    width: 100%;
    height: 730px;
    top: 100px;
    background-image: url("../images/material_pig_4.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
}



/* 국밥에 뚝배기를 사용하는 이유 */

.plate-titleBox {
    text-align: center;
    padding-top: 250px;
}

#plate-para {
    display: inline-block;
    color: white;
}

#plate-title {
    color: white;
}

.green {
    color: #00AD5D;
}

.yellow {
    color: #FFC854;
}

/* 기호에 맞도록 양념을 추가해주세요! */

.seasoning-titleBox {
    font-size: 2rem;
    text-align: center;
}

.seasoning-titleBox ul {
    text-align: center;
    position: relative;
    margin-top: 15px;
}

.seasoning-titleBox ul li {
    display: inline-block;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 24px;
    padding: 6px 0 10px 0px;
    text-align: center;
    color: #747474;
    width: 110px;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    margin-right: 22px;
    transition: background-color ease-in-out .5s, color ease-in-out .2s;
    cursor: pointer;
}

.seasoning-titleBox ul li:hover {
    background-color: #FFC854;
    color: white;
}

#seasoning-plate {
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 100px;
    z-index: 50;
    margin-left: 0px;
    /* transition: margin-left ease-in-out 2s, rotateZ ease-in-out 2s; */
    opacity: 1;
    /* animation: Gukbap 2s; */
}

@keyframes Gukbap {
    from {
        margin-left: -1000px;
        transform: rotateZ(-180deg);
    }
    to {
        margin-left: 0px;
        transform: rotateZ(-360deg);
    }
}



#resultShadow {
    position: absolute;
    z-index: -2;
    left: 280px;
    top: -120px;
    transform: scale(0.65);
    opacity: 0;
    transition: opacity ease-in-out .5s;
}

#seasoning-plate img:nth-child(1){
    width: 650px;
}

/* 대령이요! */
.complete-titleBox {
    color: white;
    float: left;
    margin-top: 220px;
    z-index: 1;
}

.complete-titleBox h1 {
    font-size: 3rem;
    line-height: 70px;
}

.complete-titleBox #gukbapName {
    background-color: #00AD5D;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#complete {
    background-color: #FFC854;
}

#gukbapScore {
    margin-top: 20px;
    width: 620px;
}

.completeGroundTop {
    background-image: url("../images/gukbap-complete_0.png");
    width: 100%;
    height: 249px;
    position: absolute;
    top: -30px;
    left: 0;
}

#completeMask img {
    z-index: 48;
    position: absolute;
}

.completeGroundBottom2 {
    background-color: white;
    width: 100%;
    height: 249px;
    top: 10px;
    position: absolute;
    left: 0;
    /* z-index: 52; */
}

#completeMask {
    height: 300px;
    margin-top: -20px;
}

/* ending 국밥 하나만 기억해주세요 */
.ending-titleBox {
    padding-top: 230px;
    display: inline-block;;
}

.ending-titleBox h1 {
    color: #FFC854;
    font-size: 3rem;
    line-height: 60px;
}

.share {
    margin-top: 220px;
    float: right;
    padding-top: 300px;
    width: 350px;
    height: 620px;
    display: inline-block;
    text-align: center;
    background-color: white;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.2));
    border-radius: 15px;
    padding: 20px;
}

#myGukbap {
    width: 350px;
    height: 280px;
    background-color: #FFC854;
    border-radius: 15px;
    margin-bottom: 30px;
}

#shareTitle {
    text-align: left;
    font-size: 2.3rem;
    font-weight: 600;
}

.myGukbapBar {
    width: 350px;
    border: .5px solid #747474;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#shareBtn {
    background-color: #FFC854;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 350px;
    height: 40px;
    padding-top: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color ease-in-out .5s;
}

#shareBtn:hover {
    background-color: #00AD5D;
}

#productBottom,
#bowlBottom {
    color: #FFC854;
    border-bottom: 2px solid #FFC854;
}



/* footer */

footer {
    width: 100%;
    height: 400px;
    background-image: url("../images/footerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -200px;
}

footer .name {
    display: inline-block;
}

footer .footerName {
    display: inline-block;
    padding-top: 220px;
}

footer .icon {
    width: 91px;
    height: 78px;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

footer .footerName .Kr {
    color: white;
    font-size: 3rem;
    line-height: 40px;
}

footer .footerName .Eng {
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
}

footer .copyright {
    display: inline-block;
    color: white;
    text-align: right;
    float: right;
    padding-top: 220px;
}
